body{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    height:100vh;
    overflow:hidden;

}

a{
    padding:10px;
    background-color:yellowgreen;
    height:25px;
    width:150px;
    display:inline-block;
    margin-bottom: 50px;

}

.App{
    text-align: center;
    border-radius: 10px;
}

.btn{
    background-color:rgb(44, 97, 97);
    padding: 10px 20px;
    cursor: pointer;
    border:thick;

}
.button1{
    background-color:rgb(22, 156, 156);
    padding: 10px 20px;
    cursor: pointer;
    border:none;

}
.btn2{
    background-color:rgb(22, 156, 156);
    padding: 10px 20px;
    cursor: pointer;
    border:none;

}
.button2{
    background-color:rgb(44, 97, 97);
    padding: 10px 20px;
    cursor: pointer;
    border:none;

}

.center{
    
    background-color:#132531;
    text-align: center;
    height:200px;
    width:200px;
    border:5px solid #000000;
    padding: 60px;
    top: 30%;
    left: 38%;
    position:fixed;
    margin:auto;
 

}
.mydiv{
    background-color:#132531;
    text-align: center;
    height:350px;
    width:200px;
    border:5px solid #000000;
    padding: 60px;
    top: 30%;
    left: 38%;
    position:fixed;
    margin:auto;
 }

.file{
   
    width:10%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    box-sizing: border-box;

    
}

input[type=text]{
    width:180px;
    padding: 7px;
   box-shadow: 0 0 15px 4px rgba(0, 0,0, 0.06);
   border-radius:10px;
}
